@import './utilities';
@import './mixins';
@import './general';

body {
   background-color: #23272E;
   font-family: monospace;
   color: white;
   font-size: 1.6rem;
}

.btn {
   margin-right: 5px;
   border-radius: 6px;
   border: none;
   padding: 6px;
   background-color: #fff;
   color: #23272E;
   font-family: monospace;
   font-size: 1.4em;
   transition: all .3s;
   &.active {
      cursor: pointer;
      &:hover {
         color: #fff;
         background-color: #23272E;
         outline: 2px solid #fff;
      }
   }
}

.tag {
   display: inline-block;
   border-radius: 6px;
   background-color: darkcyan;
   color: #23272E;
   margin-right: 7px;
}
.category {

   span {
      color: #23272E;
      background-color: #fff;
      border-radius: 6px;
   }
}

header {
   background-color: white;
   ul {
      @include reset-list;
      display: flex;
      li {
         margin: 0 20px;
         padding: 20px 0;
         a {
            @include reset-a;
            &:hover,
            &.active {
               text-decoration: underline;
            }
         }
      }
   }
}
.blog {
      
      article {
         height: 250px;
         margin-bottom: 20px;
         border: 1px solid #fff;
         border-radius: 6px;
         display: flex;
         .img-box {
            width: 30%;
            height: 100%;
            overflow: hidden;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
         .text-box {
            padding: 20px;
            h2 a {
               text-decoration: none;
               color: #fff;
               &:hover {
                  text-decoration: underline;
               }
            }
            .category {

               span {
                  color: #23272E;
                  background-color: #fff;
                  border-radius: 6px;
               }
            }
            .date {
               font-size: .6em;
            }
            .tag {
               font-size: .8em;
            }
         }
      }
}

.post {
   img {
      width: 80%;
   }
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   
   h4 {
      text-align: center;
      padding: 20px 0;
      color: #23272E;
   }
}